<div>
    <select name="cMonth" id="">
        <li>a</li>
        <li>a</li>
        <li>a</li>
    </select>
    <select name="cYear" id="">
        <li>a</li>
        <li>a</li>
        <li>a</li>
    </select>
    <table>
        <tr id="cWeek">
        </tr>
    </table>
</div>