<div
  id="sidebar"
  class="dark-blue col-2 vh-100 d-flex justify-content-start flex-column align-items-stretch"
>
  <span class="text-center display-6">{username}</span>
  <a
    href="#"
    class="w-100 text-center text-decoration-none light-font-color pt-2 pb-2"
    >a</a
  >
  <a
    href="#"
    class="w-100 text-center text-decoration-none light-font-color pt-2 pb-2"
    >b</a
  >
  <a
    href="#"
    class="w-100 text-center text-decoration-none light-font-color pt-2 pb-2"
    >c</a
  >
  <a
    href="#"
    class="w-100 text-center text-decoration-none light-font-color pt-2 pb-2"
    >d</a
  >
  <a
    href="#"
    class="w-100 text-center text-decoration-none light-font-color pt-2 pb-2"
    >e</a
  >
</div>
