* {
  outline: none;
  box-sizing: border-box;
}

.dark-blue {
  background-color: #072227;
}

.light-font-color {
  color: #faeee7;
}

#sidebar a:hover {
  background: #165d6a;
  color: white;
}

#sidebar span {
  color: white;
}

.b-no {
  border: 0;
  padding: 10px;
}

html,
body,
#body {
  height: 100%;
  min-height: auto;
  width: auto;
  box-sizing: border-box;
}

.form-custom {
  margin: auto;
  width: fit-content;
}

/* default form 👇 */

.form-custom input,
select,
textarea {
  background-color: white;
  text-align: center;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 6px;
  padding: 2px;
  width: auto;
}

.form-custom div * {
  display: inline;
}

.form-custom input:hover,
textarea:hover,
select:hover {
  background: rgb(243, 243, 243);
}

.form-custom input:focus,
textarea:focus,
select:focus {
  background: rgb(204, 204, 204);
}


.form-custom button {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

.form-custom input:last-of-type {
  margin-bottom: 20px;
}

/* default form 👆 */

/* No Border Table 👇 */
.noBorderTable {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px black solid; */
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-radius: 10px;
  background: rgb(214, 213, 213);
}

.noBorderTable th,
td,
tr {
  padding: 10px;
  border: white solid 2px;
}


/* No Border Table 👆 */

/* calendar 👇 */

.dateColor {
  color: rgb(25, 87, 255);
}

/* calendar 👆 */