* {
  outline: none;
  box-sizing: border-box;
}

.sb-color {
  background-color: #1572a1;
}

.light-font-color {
  color: #faeee7;
}

#sidebar a:hover {
  background: #165d6a;
  color: white;
}

#sidebar a {
  font-weight: 600;
}

#sidebar span {
  color: white;
}

.b-no {
  border: 0;
  padding: 10px;
}

html,
body,
#body {
  height: 100%;
  min-height: auto;
  width: auto;
  box-sizing: border-box;
}

.form-custom {
  margin: auto;
  width: fit-content;
}

/* default form 👇 */

.form-custom input,
select,
textarea {
  background-color: white;
  text-align: center;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 6px;
  padding: 2px;
  width: auto;
}

.form-custom div * {
  display: inline;
}

.form-custom input:hover,
textarea:hover,
select:hover {
  background: rgb(243, 243, 243);
}

.form-custom input:focus,
textarea:focus,
select:focus {
  background: rgb(204, 204, 204);
}


.form-custom button {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

.form-custom input:last-of-type {
  margin-bottom: 20px;
}

/* default form 👆 */

/* No Border Table 👇 */
.noBorderTable {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px black solid; */
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-radius: 10px;
  background: rgb(214, 213, 213);
}

.noBorderTable th,
td,
tr {
  padding: 10px;
  border: white solid 2px;
}


/* No Border Table 👆 */

/* calendar 👇 */

.dateColor {
  color: rgb(25, 87, 255);
}

/* calendar 👆 */

/* number spin button hider code 👇 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  /* chrome */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

/* number spin button hider code 👆 */

/* recent container style 👇 */

.recent{
  border-radius: 10px;
  background: rgb(242, 242, 242);
  padding: 10px;
  margin: 20px;
  /* margin-top: 100px; */
}

.recent div{
  text-align: center;
  padding: 10px 0;
}

.recent div div{
  display: inline-block;
  font-size: large;
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  background: rgb(221, 221, 221);
  border-radius: 50%;
  transition: 0.5s all ;
}

.recent div div:hover{
  background: rgb(197, 197, 197);
}

/* recent container style 👆 */