<%- include("includes/head") %>

<div class="d-flex vh-100 vw-100 justify-content-center align-items-center">
  <img src="/assets/401.jpg" alt="" width="500px">
  <vr>
    <h3>401 | Not Enough Privilege!</h3>
    <a href="/login">Go to Login</a>
</div>

<%- include("includes/foot") %>