<%- include('includes/head') %>

<%- include("includes/sidebar") %>
<%- include("includes/img") %>
<div id="topPusher" class="">
    <form action="/addUser" class="form-control form-custom">
        <h2 class="mb-5 text-center">Enter Employee Details</h2>
        <input type="text" name="idnum" id="idnum" placeholder="Employee ID">
        <input type="text" name="employeeName" id="employeeName" placeholder="Name">
        <input type="text" name="age" id="age" placeholder="Age">
        <input type="text" name="gender" id="gender" placeholder="Gender">
        <input type="text" placeholder="Position" name="position" id="position">
        <input type="text" placeholder="Salary" name="salary" id="salary">
        <button type="submit" class="btn btn-primary">Create Profile</button>
        <button type="reset" class="btn btn-danger">Clear Information</button>
    </form>
</div>

<!-- 
name
username
age
gender
position
salary
id (idnum) -> {
    employeeId (incremental - 5 digit)
== incremental -> 
1. check total employee frm db = 4 - rows count
2. check digit 4 is !>10 = 4 zeros 
3. create "0000" + "4" .toDigit
4. save }
-->



<%- include('includes/foot') %>