<%- include('includes/head') %>
<%- include("includes/sidebar") %>
<%- include("includes/img") %>
<div id="topPusher">
    <form action="/addUser" class="form-control form-custom">
        <h2 class="mb-5 text-center">Enter Employee Details</h2>
        <input type="text" name="idnum" id="idnum" disabled="true" placeholder="Employee ID">
        <div>
            <input type="text" name="fname" id="employeeName" placeholder="First Name">
            <input type="text" name="lname" id="employeeName" placeholder="Last Name">
        </div>
        <p class="text-center">Create Password</p>
        <div>
            <input type="password" placeholder="New Password">
            <input type="password" placeholder="Retype Password">
        </div>
        <button type="submit" class="btn btn-primary">Create Profile</button>
        <button type="reset" class="btn btn-danger">Clear Information</button>
    </form>
</div>
<%- include('includes/foot') %>